.page-not-found-wrapper{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
}
.page-not-found-wrapper h1{
@include bold-font;
line-height: 155px;
font-size: 150px;
text-align: center;
letter-spacing: -3px;
margin-bottom: 0px;
}
.page-not-found-wrapper p{
font-style: normal;
font-weight: normal;
line-height: 30px;
font-size: 22px;
text-align: center;
}