.blog-hero{
    background-color: #F9DA73;
    padding-top: 500px;
}
.blog-content{
    margin-top: -382px;
    margin-bottom: 120px;
}
.site-main{
    padding-right: 20px;
}
.size-post-image-lg{
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E0E0E0;

    overflow: hidden;
}
.post-col .post-bg-image{    
    background-position: center;
    background-size: cover;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e0e0e0;
}
.post-col-wide .post-bg-image{    
    background-position: center;
    background-size: cover;
        border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e0e0e0;
}
//
    .post-col-md .post-bg-image{
        height: 200px;
    }
//}
//@media (min-width: 768px){
.post-col-lg .post-bg-image{
        height: 420px;
    }


//}
.post-col-wide .post-bg-image{
        height: 100%;
        min-height: 350px;
    }
// .col-md-12.post-col .post-bg-image{
//     height: 300px;
// }
.post-col-md .entry-title{
    font-size: 24px !important;
    line-height: 31px !important;
}
.blog article.type-post{
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blog article.type-post .entry-content{
    flex-grow: 1;
}
.post-content-wrapper{
    display: block;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-top: 0;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.case-study-small .post-content-wrapper{
    display: block;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    padding:24px;
    height: 100%;
}
.case-study-small .post-content-wrapper .row{
    height: 100%;
}
.entry-meta{
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #979797;
    margin-bottom: 14px;
}
.posted-on a{    
    color: #67B54B;
    @include transition-all;
}
.span-reading-time{
    color: #979797;
}
.entry-meta-sep{
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    top: 0px;
}
.blog .entry-title{
    font-style: normal;
    font-weight: normal;
    line-height: 43px;
    font-size: 35px;
    letter-spacing: -1px;
    color: #4A4A4A;
    display: block;
}
.related-stories .entry-title{
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: -1px;
color: #4A4A4A;
}
.entry-title a{
    @include transition-all;
}
.entry-title a:hover{
    color: #67B54B;
    text-decoration: none;
}
.inline-read-more{
    color: #4A4A4A !important;
}
.author-panel{
    display: block;
}
.author-panel.small{
    margin-top: 24px;
}
.author-panel img{
    display: inline-block;
}
.author-panel.small img{
    width: 35px;
    border-radius: 50%;
}
.author-panel.small a{

}
.author-panel.small a:hover{
text-decoration: none;
}
.author-panel.small h5{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 8px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 14px;
color: #4A4A4A;
position: relative;
top: 1px;
}
.loadmore-btn{
    width: 150px;
    margin: 0 auto;
    border: 2px solid #67B54B;
    border-radius: 5px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 14px;
text-align: center;
color: #025157;
display: block;
margin-top: 30px;
padding: 12px 18px;
@include transition-all;
}
.loadmore-btn:hover{
    background-color: #67B54B;
    color: #fff;
}
.blog article{

}
// .blog article:nth-child(4n+2) {
//     width: 50%;
//     float: left;
// }
// .blog article:nth-child(4n+3) {
//     width: 50%;
//     float: right;
// }
.case-study-small .entry-title{
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
letter-spacing: -1px;
color: #4A4A4A;
}
.case-study-small img{
    border-radius: 5px;
    overflow: hidden;
}
.case-study-small h5{
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 14px;
color: #67B54B;
margin-bottom: 0;
}
.case-study-small article.case-studies {
    //margin-bottom: 30px;
    height: 100%;
}
.case-study-small article.case-studies a{
    height: 100%;
}
.case-study-small article.case-studies a:hover{
    text-decoration: none;
}
.case-study-small{
    margin-bottom: 30px
}
.case-study-logo{
    position: relative;
}
.case-study-logo img{
    position: relative;
    z-index: 1;
}
.case-study-small .case-study-logo .circle-logo {
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 60px;
    height: 60px;
    z-index: 2;
}
.case-study-small .case-study-logo .circle-logo img{
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    max-width: 76%;
    width: 100%;
    vertical-align: baseline;
    display: block;
}
.sticky-sidebar{
position: sticky;
  top: 20px;
  padding-bottom: 5px;
}
.sidebar-holder{
    position: relative;
}
.sidebar-newsletter{
background: #025157;
border-radius: 5px;
padding:30px;
margin-bottom: 30px;
}
.sidebar-newsletter-content{
    display: flex;
}
.sidebar-newsletter-left{
    flex-grow: 1;
        margin-right: 20px;
}
.sidebar-newsletter input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #F9DA73;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    margin-right: 20px;
    display: block;
    color: #fff;

}
.sidebar-newsletter .form-control:focus {
    background-color: transparent;
    border-color: #F9DA73;
    outline: 0;
    color: #fff;
    box-shadow: none;
}
.sidebar-newsletter ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.sidebar-newsletter :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.sidebar-newsletter ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.sidebar-newsletter-right{
    width: 93px;
}
.sidebar-newsletter button{
border: 2px solid #F9DA73;
box-sizing: border-box;
border-radius: 4px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 14px;
text-align: center;
color: #F9DA73;
background-color: transparent;
}
.sidebar-newsletter button:hover{
    border: 2px solid #F9DA73;
    background-color: #F9DA73;
    color: #025157;
}
.sidebar-widget{
    background: #FFFFFF;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px;
padding: 30px;
margin-bottom: 30px;
}
.sidebar-widget h3{

line-height: 27px;
font-size: 24px;
letter-spacing: -1.5px;
color: #025157;
margin-bottom: 24px;
}
.popular-posts{


}
.popular-posts ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.popular-posts li{
    display: flex;
    margin-bottom: 30px;
}
.popular-posts li:last-child{
    margin-bottom: 0px;
}
.popular-posts .popular-posts-img{
    width: 80px;
    margin-right: 20px;
}
.popular-posts-content{
    flex: 1;
}
.popular-posts-content p{
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 18px;
letter-spacing: -0.5px;
color: #4A4A4A;
margin-bottom: 0px;
}
.popular-posts-content p a{
    color: #4A4A4A;
}
.popular-posts-categories a{
font-style: normal;
font-weight: 600;
line-height: 16px;
font-size: 14px;
color: #67B54B;
}
.popular-posts-categories{
    line-height: 20px;
}
.sidebar-categories{
font-style: normal;
font-weight: normal;
line-height: 28px;
font-size: 18px;
letter-spacing: -0.5px;
color: #4A4A4A;
}
.sidebar-categories a{
    color: #4A4A4A;
}
.sidebar-categories a:hover{
    color: #4A4A4A;
    text-decoration-line: underline;
}

.sidebar-categories a:after{
    content: ', ';
    display: inline-block;
    margin-right: 4px;
}
.sidebar-categories a:last-child:after{
    display: none;
}
.blog-single-content{
    padding-top: 175px;
    padding-bottom: 20px;
}
.post-single-top-right-content{
    padding-left: 30px;
}
.post-single-top-right-content h2{
font-style: normal;
font-weight: normal;
line-height: 62px;
font-size: 50px;
letter-spacing: -1px;
color: #025157;
}
.posted-on-date{
    position: relative;
    top: 0px;
    display: inline-block;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 8px;
font-size: 14px;
color: #979797;
}
.blog-single-top{
    margin-bottom: 100px;
}
.blog-single-content .entry-content p:first-child::first-letter, .cs-single-content .entry-content p:first-child::first-letter {
font-style: normal;
font-weight: bold;
line-height: 32px;
font-size: 70px;
color: #4A4A4A;
float: left;
  padding-top: 15px;
  padding-right: 12px;
}
.blog-single-content .entry-content blockquote p:first-child::first-letter {
font-style: italic !important;
font-weight: 300 !important;
line-height: 35px !important;
font-size: 25px !important;
float: none;
  padding-top: 0px;
  padding-right: 0px;
}
.entry-content p{
    margin-bottom: 40px;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 18px;

color: #505050;


}
.entry-content img{
    width: auto !important;
    height: auto !important;
}
.entry-content h1{
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 45px;
color: #4A4A4A;
}
.entry-content h2{
    font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 25px;

color: rgba(74, 74, 74, 0.7);
}
.entry-content h3{
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 30px;

color: #505050;

}
.entry-content h4{
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 26px;

color: #505050;
}
.entry-content h5{
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 20px;

color: #505050;


}
.wp-caption{
    border-radius: 0;
    border: 0;
    padding: 0;
    margin-bottom: 40px;
}
.wp-caption-text{
margin-top: 30px;
font-style: normal;
font-weight: normal;
line-height: 35px;
font-size: 14px;
text-align: center;

color: #858585;
}
blockquote{
font-style: italic;
font-weight: 300;
line-height: 35px;
font-size: 25px;
color: #025157;
margin-left: 8%;
margin-right: 8%;
margin-bottom: 40px;
}
blockquote p{
font-style: italic !important;
font-weight: 300 !important;
line-height: 35px !important;
font-size: 25px !important;
color: #025157 !important;
}
img.alignleft{
    float: left;
    margin-right: 30px;
    width: 50%!important;
    height: auto!important;
}
.single .entry-content ol, .single .entry-content ul{
font-style: normal;
font-weight: 500;
line-height: 32px;
font-size: 18px;
color: #505050;
}
.single .entry-content ol li, .single .entry-content ul li{
    margin-bottom: 6px;
}
.medium-width-img{
    width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 30%;
  padding-right: 30%;
  display: block;
  max-width: none;
}
.full-width-img{
    width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: block;
  max-width: none;
}
.end-of-post{
    display: block;
    color: #67B54B;
    text-align: center;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.end-of-post-sep{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.single-meta-box{
    border-radius: 5px;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}
.single-meta-box-top{
    background: #F6F6F6;
    padding: 30px;
}
.single-meta-box-top h4{
font-style: normal;
font-weight: normal;
line-height: 28px;
font-size: 18px;
letter-spacing: -0.5px;
color: #4A4A4A;
}
.single-meta-box-bottom{
    display: block;
    background: #025157;
}
.single-meta-box-bottom{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.author-content-wrapper{
    display: inline-block;
}
.author-content-wrapper .posted-on-date{
    display: block;
}
.single-meta-box .author-panel img{
    position: relative;
    top: -10px;
}
.single-meta-box .author-panel.small {
    margin-top: 0px;
}
.single-meta-box .cat-links{
    font-size: 15px;
}
.related-stories{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #FFFBF7;
    text-align: center;
}
.related-stories h1{

font-style: normal;
font-weight: bold;
line-height: 40px;
font-size: 35px;
letter-spacing: -1.5px;
color: #025157;
margin-bottom: 60px;

}
.related-stories .post-content-wrapper{
    text-align: left;
}
.single .footer-top-texture{
    display: none;
}

.single .related-stories-texture{
    display: block !important;
}
.category-page h1{
    text-align: center;

line-height: 51px;
font-size: 45px;
letter-spacing: -1.5px;

color: #025157;


}
.taxonomy-description{
margin-bottom: 40px;
}
.taxonomy-description p{
    margin-bottom: 0;
font-style: normal;
font-weight: 500;
line-height: 21px;
font-size: 16px;

color: #025157;
}
.wide-panel-image{
    padding-right: 0;
}
.wide-panel-content{
    padding-left: 0;
}
.size-post-image-wide{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wide-panel{
    margin-bottom: 30px;
}
.wide-panel .post-content-wrapper {
    display: block;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0 !important;
    border-left: 0;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
    padding: 30px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.wide-panel .entry-title{
font-style: normal;
font-weight: normal;
line-height: 43px;
font-size: 35px;
letter-spacing: -1px;
margin-bottom: 20px;
color: #4A4A4A;
}
.category-page .med-panel .entry-title{
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
letter-spacing: -1px;

color: #4A4A4A;


}
.category-page .med-panel article.type-post, .single .med-panel article.type-post {
    padding-bottom: 30px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.category-page .med-panel  article.type-post .entry-content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.single .med-panel  article.type-post .entry-content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.author-panel.big img {
    width: 75px;
    border-radius: 50%;
}
.author-panel.big h5{
    display: block;

line-height: 32px;
font-size: 28px;
letter-spacing: -1px;
color: #025157;
}
.author-bio{
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 14px;
color: #025157;

}
.archive .page-header{
    text-align: center;
}
.author-panel.big{
    display: block;
    text-align: center;
}
.author-panel.big .avatar-wrapper{
    width: 75px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}
.author-panel.big .author-content-wrapper{
    display: block;
}
.post-single-top-right-content .author-content-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    top: -4px;
}
.post-single-top-right-content .avatar-wrapper {
    flex: 0 0 35px;
    margin-right: 4px;
}
.post-single-top-right-content .author-panel a{
display: flex;
}
.author-panel.big .author-content-wrapper{
    //flex-grow: 1;
}
.wide-panel .entry-footer{
    display: none;
}
.blog-logo-text{
    display: none;
    position: relative;
    top: -6px;
    margin-left: 3px;
}
.blog .blog-logo-text, .single .blog-logo-text, .archive .blog-logo-text, .author .blog-logo-text{
    display: inline-block;
}