/* FLOOR PLANS
================================================== */
.intro-block{
    background-color: #dadfe6;
    background-image: url(../img/bg_pattern.png);
    background-repeat: repeat;
    background-size: 16px;
    padding-top: 90px;
    padding-bottom:90px;
    text-align: center;
}
.intro-block-sep{
    width: 362px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}
.intro-block-content{
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
@include sans-serif-font();
font-weight: bold;
font-size: 18px;
letter-spacing: 0.05em;
line-height: 30px;
text-align: center;
color: #464647;

}
.floor-plans-intro{
    margin-bottom: 80px;
}
.floor-plans-intro .block-content{
    text-align: center;
}
.intro-content-wrapper{
    margin-top: 70px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}
.intro-content-wrapper .container{
    height: 100%;
    position: relative;
}
.floor-plans-top-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    height: 368px;
    z-index: 23;
}
.floor-plans-top{
    height: 368px;
    position: relative;
}
.floor-plans-parallax.dzsparallaxer{
    position: relative;
    height: 400px;
    z-index: 22;
}
.dzsparallaxer{
    position: relative;
    height: 400px;
    z-index: 22;
    background-color: #212721;
}
.love-live-arrow{
    width: 246px;
    position: absolute;
    left: -29px;
    top: 0;
}
.floor-plans-top-box-wrapper{
    position: absolute;
    top: 232px;
    right: 74px;
}
.floor-plans-top-box-wrapper h3{
    color: #d7822f;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 0;
}
.floor-plans-top-box{
   width: 594px;
    //border: 4px solid #cec3ba;
    background-color: rgba(201,225,215,.69);
    color: #212721;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 12px;
}
.floor-plans-top-box p{
    color: #212721;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}
.floor-plans-wrapper{
    position: relative;
    margin-top: 30px;
    padding-bottom: 0;
    text-align: center;
}
.floor-plans-slider{
    position: relative;
}
//.floor-plans-slide{
//    width: 300px;
//    height: 300px;
//    background-position: center;
//    background-size: cover;
//    margin-left: 8px;
//    margin-right: 8px;
//    cursor:pointer;
//    position: relative;
//    overflow: hidden;
//    display: inline-block;
//}
.floor-plans-slide-wrapper{    
    background-position: center;
    //background-size: cover;
    background-size: 320px;
    background-repeat: no-repeat;
    cursor:pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #F6F7F7;

    cursor: pointer;
}
.fp-slider-title{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
//    height: 50px;
    background-color: #a3b8a6;
    position: relative;
    // left: 0;
    // right: 0;
    // bottom: -80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
    @include transition-all();
    @include sans-serif-font();
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
}
.floor-plans-slide-wrapper:hover > .fp-slider-title{
    bottom: 0;
}
.mobile .fp-slider-title, .tablet .fp-slider-title{
    bottom: 0;
}
.fp-slider-title span{
    display: block;
//    @include vertical-align();
}
.slider-btns{
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    list-style: none; 
margin: 0; 
padding: 0; 
display: flex;
text-align: center;
}


.slider-btns li{
    flex: 1;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}
.fp-slider-btn, .fpsbc-4 a{
    cursor: pointer;
    @include sans-serif-font();

background-color: #F6F7F7;
line-height: 24px;
text-transform: uppercase;

    display: block;
    text-transform: uppercase;
    @include transition-all();
    text-decoration: none;
padding-top: 16px;
padding-bottom: 16px;
font-weight: bold;
font-size: 20px;
text-align: center;
color: #707070;
margin-left: 10px;
margin-right: 10px;


}

.fp-slider-btn:hover, .fp-slider-btn.active, , .fpsbc-4 a:hover{
    color: #A3B8A6;
}
.fpsbc-1{
    text-align: center;
}
.fpsbc-2{
    text-align: center;
}
.fpsbc-3{
    text-align: center;
}
.fpsbc-4{
    text-align: center;
}
/*.floor-plans-slider-arrow{    
    position: absolute;
    top: 43%;
    z-index: 999;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #d7822f;
    font-size: 34px;
    opacity: 1;
    height: 50px;
    width: 50px;
    z-index: 23;
    border: 0;
    line-height: 32px;
    @include ease(all .2s ease-out);
}*/
.extra-btns{
    list-style: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    text-align: center;
}
.extra-btns li{
    display: inline-block;
}
.extra-btns li a{
    cursor: pointer;
    @include sans-serif-font();

background-color: #F6F7F7;
line-height: 24px;
text-transform: uppercase;

    display: block;
    text-transform: uppercase;
    @include transition-all();
    text-decoration: none;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 30px;
padding-right: 30px;
font-weight: bold;
font-size: 20px;
text-align: center;
color: #707070;
margin-left: 10px;
margin-right: 10px;


}
.floor-plans-slider-arrow{    
    position: absolute;
    top: 43%;
    z-index: 999;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #d7822f;
    font-size: 34px;
    opacity: 1;
    height: 50px;
    width: 50px;
    z-index: 23;
    border: 0;
    line-height: 32px;
    @include transition-all();
}
.floor-plans-slider-btn-prev{
    left: 30px;
}

.floor-plans-slider-btn-next{
    right: 30px;
}
.floor-plans-slider-arrow:hover{
    border: 0;
    color: #fff;
    background-color: #d7822f;
}


#floor-plans-pop-up{
    display: none;
    width: 100%;
    max-width: 660px;
    height: 570px;
    background-color: #F6F7F7;
    // background-image: url(../img/paper_bg.jpg);
    // background-repeat: repeat;
    // background-size: 777px;
}
//#floor-plans-pop-up img, #floor-plans-pop-up a, #floor-plans-pop-up div{
//    position: relative;
//    z-index: 2;
//}
#rendering-2d{
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center 68px;
    background-repeat: no-repeat;
    background-size: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.show-2d{
    display: block !important;
}
#rendering-3d{
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center 68px;
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.show-3d{
    display: block !important;
}
#floor-plans-pop-up .dark-logo{
    position: relative;
    z-index: 2;
}
.floor-plans-pop-up-wrapper{
    padding: 20px;
    position: relative;
    height: 100%;
}
.floor-plans-pop-up-wrapper h1{
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #61504d;
    font-size: 25px;
}
.floor-plans-pop-up-wrapper .pop-up-content{
    font-size: 14px;
    color: #fff;
}
#pop-up-image{
    display: block;
    margin-top: 30px;
}
.floor-plans-pop-up-close-btn{
    width:20px;
    height:20px;
    position:absolute;
    top: 8px;
    right: 14px;
    color: #67715e;
    font-size: 24px;
    @include transition-all();
    cursor:pointer;
    z-index: 999;
}
.floor-plans-pop-up-close-btn:hover{
    color: #a3b8a6;
}
.floor-plans-content{
    height: 1px;
    visibility: hidden;
}
.dark-logo{
    width: 160px;
}
.floor-plans-info{
    float: right;
    text-align: right;
    color: #61504d;
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.fp-box-btn{
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    border: 1px solid #A3B8A6;    
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: #A3B8A6;
    @include transition-all();
    @include sans-serif-font();
    
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
.fp-box-btn:hover, .fp-box-btn.active{
    text-decoration: none;
    color: #fff;
    border: 1px solid #DADFE6; 
    background-color: #DADFE6;
}

.btn-2d{
    position: absolute;
    bottom: 96px;
    left: 20px;
    z-index: 2;
}

.btn-3d{
    position: absolute;
    bottom: 96px;
    left: 54px;
    z-index: 2;
}

.pdf-print-btn{
    position: absolute;
    bottom: 58px;
    left: 20px;
    z-index: 2;
}
.check-avail-btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}