.page-template-gallery .page-intro-text{
	width: 375px;
	left: 160px;
    top: -40px;
}
.page-template-gallery .border-title {
    margin-bottom: 80px;
}
.gallery-slider{
	padding-top: 28px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	text-align: center;
}
.content-wrapper .gallery-slider:last-child{
	margin-bottom: 50px;
}
.gallery-slider .container{
	position: relative;
}
.gallery-slider h2{
	@include sans-serif-font();
color: #fff;
font-style: italic;
font-size: 37px;
font-weight: 300;
line-height: 42px;
text-transform: uppercase;
letter-spacing: 1.25px;
margin-bottom: 45px;
}
.gallery-wrapper{	
	position: relative;
}
.gallery-slides{
	margin-left: 0px;
	margin-right: 0px;
}
.slick-slide{
	padding-left: 7px;
	padding-right: 7px;
}
.slider-btn{
	position: absolute;
	width: 28px;
	height: 45px;
	background-size: 28px;
	background-position: center;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	@include transition-all();
	opacity: .6;
}
.slider-btn:hover{
	opacity: 1;
}
.slider-btn-prev{
	background-image: url(../img/slider_btn_previous.png);
	left: 15px;
}
.slider-btn-next{
	background-image: url(../img/slider_btn_next.png);
	right: 15px;
}
