// Mixins
@mixin transition-all() {
  transition: all 0.2s ease-in-out;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin cutive-font() {
  
}
@mixin serif-font() {
  
}
@mixin sans-serif-font() {
  font-family: futura-pt, sans-serif;
}
@mixin bold-font() {
  font-family: futura-pt-bold, sans-serif;
}
@mixin semi-bold-font() {
  
}
