/* NEIGHBORHOOD
================================================== */
.page-template-neighborhood .page-intro-text {
    position: absolute;
    z-index: 1;
    width: 420px;
    left: 209px;
    top: -96px;
}
.neighborhood-intro{
    margin-top: 148px;
}
.neighborhood-intro .container{
    position: relative;
    text-align: center;
}
.neighborhood-intro-text{
    position: relative;
    z-index: 2;
}
.neighborhood-intro-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 675px;
}
.neighborhood-intro-text h1{
    @include sans-serif-font();
color: #4c5351;
font-style: italic;
font-size: 37px;
font-weight: 300;
line-height: 42px;
text-transform: uppercase;
letter-spacing: 1.25px;
margin-bottom: 45px;
}
.neighborhood-map-container {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.neighborhood-map-left {  
  width: 260px;
  height: 100%;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 15px;
  height: 788px;
  overflow: scroll;
}
.neighborhood-map-right {
  flex: 1;
  height: 786px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.neighborhood-map-right .panel {
    margin-bottom: 2px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
}
.neighborhood-blocks-title{
    margin-top: 140px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.page-template-neighborhood .page-intro-title h1 {
    font-weight: bold;
font-size: 36px;
letter-spacing: 0.15em;
text-align: left;
color: #a3b8a6;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 26px;
    margin-left: 0px;
}
.neighborhood-blocks-title .container{
    position: relative;
    z-index: 1;
}
.neighborhood-blocks-title .branch-left{
    position: absolute;
    left: auto;
    right: 20px;
    top: -140px;
    z-index: 2;
    width: 500px;    
}
.neighborhood-blocks-title .branch-left svg, .neighborhood-blocks .branch-right svg{
    opacity: .45;
}
.neighborhood-blocks .branch-right{
    position: absolute;
    left: 40px;
    right: auto;
    bottom: -17px;
    z-index: 1;
    width: 366px;
}
.neighborhood-blocks-title .page-intro-title-border {
    margin-right: 400px;
}
.neighborhood-blocks{
    position: relative;
    z-index: 2;
}
.neighborhood-blocks .container{
    position: relative;
    z-index: 2;
}
.neighborhood-block-wrapper{
    width: 100%;
    max-width: 368px;
    text-align: center;
}
.neighborhood-block-wrapper{
    width: 100%;
    max-width: none;
    text-align: center;
}
.neighborhood-block-wrapper h1{
    @include sans-serif-font();
font-weight: bold;
font-size: 40px;
letter-spacing: 0.2em;
text-align: center;
text-transform: uppercase;
color: #a3b8a6;
margin-top: 50px;
margin-bottom: 0;
}
.title-spacer{
    width: 130px;
    height: 2px;
    display: block;
    background-color: #B7B3AD;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.neighborhood-block-wrapper p{
font-weight: normal;
font-style: italic;
font-size: 20px;
letter-spacing: 0.05em;
line-height: 50px;
color: #464647;
padding-left: 20px;
padding-right: 20px;
}
.wide-block-row{
    margin-top: 100px;
}
.wide-block-1{
    padding-right: 30px;
}
.wide-block-2{
    padding-left: 30px;
}


/* LOCATION
================================================== */

.page-template-location .intro-content-wrapper {
    background-color: #d9d1ca;
    margin-bottom: 20px;
}
.page-template-location .intro-content-wrapper p {
    color: #5f504e;
}
.page-template-location .slider-wrapper {
    background-color: #f5ede9;
}

.location-map{
    margin-top: 20px;
    background-color: #F6F7F7;
}
.location-map .container-fluid{

}
.location-map .row{
    height: 780px;
}
.location-map-left{
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}
.location-map-right{
    height: 100%;
}
.map-canvas-wrapper{
    position: relative;
    height: 100%;
}

.location-map #map-canvas{
    height: 100%;
    position: relative;
    z-index: 1;
}
.accordion-toggle{
    display:block;
}
.map-marker{
    display: inline-block;
    width: 24px;
    margin-right: 20px;
}
.panel-default>.panel-heading {
    height: 120px;
    color: #fff;
    background-color: transparent;    
    text-align: left;
}
.panel-default>.panel-heading h4{
    height: 100%;
}
.panel-default>.panel-heading a{
    height: 100%;
    position: relative;
}
.panel-default>.panel-heading a:hover{

}
.panel-default>.panel-heading a:hover > .type-illustration{
    display: none;
}
.panel-default>.panel-heading a:hover > .type-title{
    display: block;
}

.type-title{

    height: 100%;

    @include sans-serif-font();

text-transform: uppercase;

position: relative;
background-color: #A3B8A6;


font-weight: bold;
font-size: 20px;
text-align: center;
color: #f6f7f7;
padding-left: 10px;
padding-right: 10px;

}
.all-button{
    margin-bottom: 20px;
    height: 120px;
    color: #fff;
    cursor: pointer;
}
.type-title-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #5f504e;

font-size: 18px;
line-height: 28px;
    text-transform: uppercase;
}
.panel-title a{
    text-decoration: none;
    display: block;
}
.panel-title a:hover{
    color: #000;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-bottom: 1px solid #67715e;
    border-top: 0;
}
.panel-body-wrapper{
    padding-top: 20px;
    height:288px;
    overflow-y: scroll;
    text-align: left;
}
.panel-body-wrapper ul{
    list-style: none;
    margin: 0;
    padding-left: 2rem;
}
.panel-body-wrapper ul li{
    position: relative;
    color: #A3B8A6;
font-size: 18px;
line-height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.panel-body-wrapper ul li:before{
    content: '-';
    position: absolute;
      left: -1.4rem;
}
.panel-body-wrapper ul li:hover{
    color: #464647;
}
.panel-heading{
    position: relative;
}

.panel-group .panel-heading a .plus-minus{
    width: 9px;
    height: 9px;
    background-size: 9px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 24px;
    background-image: url(../img/minus.png);
}
.panel-group .panel-heading a.collapsed .plus-minus{
    background-image: url(../img/plus.png);
}
.plus-minus{
    display: none;
}
.location-phone-number a{
    color: #6c6d6f;
    text-decoration: none;
}
.desc{
    color: #6c6d6f;
font-size: 14px;
font-weight: 400;
line-height: 26px;

}
.desc p{
    color: #6c6d6f;
font-size: 14px;
font-weight: 400;
line-height: 26px;

}
.desc a{
    color: #5f504e;
font-size: 14px;
line-height: 26px;

    text-decoration: none;
}
.desc strong{
    color: #A3B8A6;
font-size: 20px;
line-height: 22px;

}
.small-desc{
    color: #6c6d6f;
font-size: 14px;
line-height: 26px;

    padding: 0 20px;
}
.small-desc strong{
    color: #fccd28;
font-size: 20px;
font-weight: 400;

}

.map_marker1.desc strong, .map_marker1.small-desc strong{
    color: #A3B8A6;
}
.map_marker2.desc strong, .map_marker2.small-desc strong{
    color: #A3B8A6;
}
.map_marker3.desc strong, .map_marker3.small-desc strong{
    color: #A3B8A6;
}
.map_marker4.desc strong, .map_marker4.small-desc strong{
    color: #A3B8A6;
}
.map_marker5.desc strong, .map_marker5.small-desc strong{
    color: #A3B8A6;
}