/* Change background color and font family */
body {
  background: #fff;
  font-family: Arial,Verdana,sans-serif;
    
}
 
/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
  background-image: url(logo.png);
  width: 200px;
    height: 177px;
    background-size: 200px;
}
 
/* Add a few changes to the color and style of form itself */
.login label {
  color: #000;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}
 
.login form .input {
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  color: #000;
}
 
.wp-core-ui .button-primary {
  /*background: #f9a533;*/
    border: 0;
        /*box-shadow: 0 1px 0 #b17625;*/
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
.wp-core-ui .button-primary:hover {
  /*background: #73c067;*/
    border: 0;
        /*box-shadow: 0 1px 0 #396233;*/
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
